.svg {
  position: absolute;
  inset: -1px;
  pointer-events: none;
  z-index: 1;
  overflow: visible;
  animation: trace-fade-out var(--fade-duration) ease-in forwards;
}

.trace {
  animation: trace-move var(--trace-duration) linear var(--trace-loops);
}

@keyframes trace-move {
  to {
    stroke-dashoffset: var(--trace-end-offset, 0);
  }
}

@keyframes trace-fade-out {
  0%,
  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
