.banner {
  background: var(--color-warning-bg, var(--color-warning-500));
  color: var(--color-warning-text, var(--color-white));
  padding: 8px 16px;
  font-size: 0.8rem;
  text-align: center;

  code {
    background: rgb(0 0 0 / 15%);
    padding: 1px 5px;
    border-radius: 3px;
  }
}
